<!-- Section Title -->
<div class="container section-title">
  <h2>Equipo</h2>
  <p>Nuestro Equipo</p>
</div><!-- End Section Title -->

<div class="container">

  <div class="row gy-4">

    @for (team of teams; track $index) {
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
      <div class="team-member">
        <div class="member-img">
          <img [src]="'/img/team/'+team.img" class="img-fluid" [alt]="team.img">
        </div>
        <div class="member-info">
          <h4>{{team.name}}</h4>
          <span>{{team.charge}}</span>
        </div>
      </div>
    </div>
    }
  </div>

</div>