<header
  class="d-flex flex-wrap w-100 align-items-center justify-content-center justify-content-md-between p-1  border-bottom"
  style="position: fixed ; background-color: aliceblue;" >
  <div class="col-md-3 mb-2 mb-md-0 text-ba">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none text-black">
      <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
    <li><a href="#" class="nav-link text-system-primary-color px-2 link-secondary">Home</a></li>
    <li><a href="#" class="nav-link text-system-primary-color px-2">Features</a></li>
    <li><a href="#" class="nav-link text-system-primary-color px-2">Pricing</a></li>
    <li><a href="#" class="nav-link text-system-primary-color px-2">FAQs</a></li>
    <li><a href="#" class="nav-link text-system-primary-color px-2">About</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button type="button" class="bg-system-primary-color  custom-btn me-2 ">Iniciar Sesión</button>
  </div>
</header>