<!-- --------------------------------------------------- -->
<!-- SERVICIOS -->
<!-- --------------------------------------------------- -->


<!-- Section Title -->
<div class="container section-title">
  <h2>Servicios</h2>
  <p>Consulta nuestro servicios</p>
</div><!-- End Section Title -->

<div class="container">

  <div class="row g-5">
    @for (service of services; track $index) {
    <div [class]="'col-lg-4 col-md-6 animate-fade-'+$index" >
      <div (click)="getDetailService(service.id)" class="card">
        <div class="content-service">
          <div class="d-flex justify-content-center align-items-center gap-4">
            <i [class]="service.icon+' icon-service'" style="font-size: 2.5rem;"></i>
            <h3 style="font-weight:700; color: rgb(52, 52, 52);">{{service.label}}</h3>
          </div>
          <p class="para">
            {{service.description}}
          </p>
          <button type="button" class="btn btn-primary-custom">Detalles</button>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4 col-md-6">
      <div class="service-item position-relative"  >
        <div class="icon">
          <i [class]="service.icon"></i>
        </div>
        <a [href]="service.url" class="stretched-link">
          <h3>{{service.label}}</h3>
        </a>
        <p>{{service.description}}</p>
        <button type="button" class="btn btn-primary-custom">Detalles</button>
      </div>
    </div> -->
    }

  </div>

</div>