<!-- --------------------------------------------------- -->
<!-- SERVICIOS -->
<!-- --------------------------------------------------- -->


<!-- Section Title -->
<div class="container section-title">
  <h2>Servicios</h2>
  <p>Consulta nuestro servicios</p>
</div><!-- End Section Title -->

<div class="container">

  <div class="row gy-4">
    @for (service of services; track $index) {
    <div class="col-lg-4 col-md-6">
      <div class="service-item position-relative" style="border-radius: 10px;">
        <div class="icon">
          <i [class]="service.icon"></i>
        </div>
        <a [href]="service.url" class="stretched-link">
          <h3>{{service.label}}</h3>
        </a>
        <p>{{service.description}}</p>
      </div>
    </div><!-- End Service Item -->
    }

  </div>

</div>