<app-header></app-header>
<main class="main">

  <!-- --------------------------------------------------- -->
  <!-- PAGINA PRINCIPAL-->
  <!-- --------------------------------------------------- -->
  <section id="hero" class="hero section dark-background">
    <app-home-presentation></app-home-presentation>
  </section>

  <!-- --------------------------------------------------- -->
  <!-- QUIENES SOMMOS-->
  <!-- --------------------------------------------------- -->
  <app-about-us></app-about-us>

  <!-- --------------------------------------------------- -->
  <!-- SERVICIOS DE LA COMPAÑÍA-->
  <!-- --------------------------------------------------- -->
  <section id="services" class="services section">
    <app-company-services></app-company-services>
  </section>

  <!-- --------------------------------------------------- -->
  <!-- COMENTARIOS DE NUESTROS CLIENTES-->
  <!-- --------------------------------------------------- -->
  <section id="testimonials" class="testimonials section dark-background">
    <app-customers-reviews></app-customers-reviews>
  </section>

  <!-- --------------------------------------------------- -->
  <!-- NUESTRO EQUIPO-->
  <!-- --------------------------------------------------- -->
  <section id="team" class="team section">
    <app-team></app-team>
  </section>

  <!-- --------------------------------------------------- -->
  <!-- NUESTRO Contacto-->
  <!-- --------------------------------------------------- -->
  <section id="contact" class="contact section">
    <app-contact></app-contact>
  </section>

  <!-- --------------------------------------------------- -->
  <!-- FOOTER-->
  <!-- --------------------------------------------------- -->
  <app-footer></app-footer>


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
</main>