<app-header [static]="true"></app-header>

<!-- Service Details Section -->
<section id="service-details" class="service-details section mt-5">

  <div class="container">

    <div class="row gy-5">

      <div class="col-lg-3">

        <div class="service-box">
          <h4>Lista de servicios</h4>
          <div class="services-list">
            @for (s of services; track $index) {
            <a href="#" (click)="getService(s.id)" [class]="s.id == this.service.id? 'active':''"><i
                class="bi bi-arrow-right-circle"></i><span>{{s.label}}</span></a>
            }

          </div>
        </div><!-- End Services List -->

        <div class="service-box">
          <h4>Descargar Pdf</h4>
          <div class="download-catalog">
            <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
            <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
          </div>
        </div><!-- End Services List -->

        <div class="help-box d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-headset help-icon"></i>
          <h4>¿ Alguna pregunta ?</h4>
          <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+1 5589 55488
              55</span></p>
          <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a
              href="mailto:contact@example.com">contactexample.com</a></p>
        </div>

      </div>

      <div class="col-lg-8 ps-lg-5 ">
        <img src="/img/services.jpg" alt="" class="animate-fade img-fluid rounded-right-shadow-image services-img ">
        <h2 style="font-weight: 500;" class="mt-5">{{service.label}}</h2>
        <p>{{service.detailed_description}}</p>
        <!-- <ul>
          <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt voluptatibus.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
        </ul>
        <p>
          Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste
          veniam repellat odit. Aut pariatur itaque nesciunt fuga.
        </p>
        <p>
          Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia
          doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus eveniet
          velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur nostrum.
          Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto ut
          pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
        </p> -->
      </div>

    </div>

  </div>

</section><!-- /Service Details Section -->
<app-footer></app-footer>