/**
 * Estilos globales para el sitio web
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**
 * Colores del sistema
 */
:root{
    /**
     * Color primario del sistema
     * @var {var(--system-primary-color)}
     */
    --system-primary-color: #4860e3 ;

    /**
     * Color primario del sistema con opacidad
     * @var {var(--system-primary-color-opacity)}
     */
    --system-primary-color-opacity: #353f7a;

    /**
     * Color secundario del sistema
     * @var {var(--system-secondary-color)}
     */
    --system-secondary-color: #343876;

    /**
     * Color secundario del sistema con opacidad
     * @var {var(--system-secondary-color-opacity)}
     */
    --system-secondary-color-opacity: #f2f2f2;

    /**
     * Color blanco del sistema
     * @var {var(--system-white-color)}
     */
    --system-white-color: #eceaeb;

    /**
     * Color negro del sistema
     * @var {var(--system-black-color)}
     */
    --system-black-color: #12101c ;
}
/**
 * Clase para texto con color primario del sistema
 */
.text-system-primary-color {
    color: var(--system-primary-color);
    transition: color 0.3s ease;
}

/**
 * Efecto hover para texto con color primario del sistema
 */
.text-system-primary-color:hover {
    color: var(--system-primary-color-opacity);
}

/**
 * Clase para fondo con color primario del sistema
 */
.bg-system-primary-color {
    background-color: var(--system-primary-color);
    transition: background-color 0.3s ease;
}
 
/**
 * Clase para botones personalizados
 */
.custom-btn {
    border-radius: 3px;
    border: none;
    padding: 8px 25px;
    color: var(--system-white-color);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    letter-spacing: 0.9px;
    transition: all 0.3s ease;
}
/**
 * Efecto hover para botones personalizados
 */
.custom-btn:hover {
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
    transform: translateY(-2px);
    opacity: 0.9;
}

/**
 * Clase para imagen de fondo personalizada
 */
.background-image-custom {
     
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    background-image: linear-gradient(to right, #10162c, rgba(255, 255, 255, 0)), url("https://www.edenred.mx/hubfs/Media%20Source%202023%20%20%28imagenes%20blog%29/Julio/Gesti%C3%B3n%20de%20negocios%20c%C3%B3mo%20funciona%20y%205%20claves%20para%20eficientarla/gestion-de-negocios-como-funciona-y-5-claves-para-eficientarla.png");
}
.wave{
    position: absolute;
    transform: translateY();
}

